

html{
    font-family: 'Lato', sans-serif;
    position: relative;
    min-height: 100%;
}


body{
    padding-bottom: 65px;
}

/* Centers and styles the signUp Form*/
.signUp{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    /*border: 1px solid #4CAF50;*/
    padding: 0px 10px;
}

/* Centers and styles the signUp Form*/
.home{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
    /*border: 1px solid #4CAF50;*/
    padding: 0px 10px;
}

/* Centers the logo */
.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700!important;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
h2{
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 500!important;
    text-align: center;
}
h3{
    text-align:center;
    font-family: 'Montserrat', sans-serif!important;
    }

/* Style inputs */
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Styles the button */
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttonCenter{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
}

/* Add a background color to the button on mouse-over */
button:hover {
    background-color: #45a049;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.form{
    border: 1px solid #ccc;
    padding: 20px;
}

.formHeader{
    text-align:center;
    background-color: #45a049;
    color: white;
    margin-top: 15px;
    padding: 5px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 2px;
    font-weight: 700!important;
}

.popup_header{
	text-align: center;
	margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 2px;
    font-weight: 700!important;
}

#popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: none;
}

#popup_history_bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: none;
}

.popup_main_div{
    position: absolute;
    width: 50%;
    height: auto;
    padding: 15px;
    margin-left: 25%;
    border: 2px solid black;
    border-radius: 5px;
    top: 50%;
    margin-top: -250px;
    background-color: white;
}

#close_popup_div{
    position:absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 5px;
    top: 5px;
}

#close_popup_div p{
    margin-top: 0;
    cursor: pointer;
}

#editBtn{
    height: 25px;
    width: auto;
    float: right;
}

#searchCat{
    margin-top:8px;
}

#editHistoryBtn{
    height: 25px;
    width: auto;
    float: right;
}

table {
    border-collapse: collapse;
 }

.footer {
    position: fixed;
    color: #fff;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #4CAF50;
}

.addRoom{
    width: 50%;  
    margin-left: auto; 
    margin-right: auto;
}

#detailStart{
    padding-top: 3px;
}

